@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600&family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #f9ad58;
  --text-color: #eef5fd;
  --primary-color: #6c63ff;
  --container-width-large: 80%;
  --container-width-medium: 90%;
  --container-width-small: 94%;
  --transition: all 400ms ease;
  --dark-des-blue: hsl(238, 29%, 16%);
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
  --soft-blue: hsl(240, 73%, 65%);
  /* violet & red */
  --red: hsl(14, 88%, 65%);
  --violet: hsl(273, 75%, 66%);
  /* background */
  --background-col: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}

html {
  font-size: 10px;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.7;
  background-color: #eef5fd;
}

.container {
  max-width: var(--container-width-large);
  margin: 0 auto;
}

section {
  margin: 150px 0;
}
section h2 {
  font-size: 52px;
  text-align: center;
}
section h2 {
  text-align: center;
  font-size: 48px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
h1 {
  font-size: 42px;
}
h4,
h5 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
.btn {
  display: inline-block;
  cursor: pointer;
  background-color: #f9ad58;
  color: var(--text-color);
  padding: 8px 28px;
  outline: none;
  border: none;
  text-align: center;
  /* border-radius: 8px; */
  font-size: 24px;
  border-radius: 20px;
}

.btn-outline {
  background-color: var(--text-color);
  color: #fca542;
  border-radius: 20px;
}
.btn-blue {
  color: #fca542;
  transition: var(--transition);
  font-size: 18px;
}
.btn-blue:hover {
  color: #fca542;
}
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////// Nav Bar starts/////////////////// */
nav {
  /* background-color: #6c63ff; */
  color: #fff;
  height: 92px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
/* ////////////////////////////////JAVASCRIPT WINDOW SCROLL///////////////////////////////////////////////// */
.window-scroll {
  background: #2948e6d4;
  /* background-image: linear-gradient(to right, #2948e6, #3791de); */
  box-shadow: 0 5px 32px rgba(11, 11, 11, 0.3);
  transition: background 0.6s ease-in-out;
}
nav .logo {
  width: 80px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 42px;
}
.nav-links li a {
  color: var(--text-color);
  display: block;
  font-size: 24px;
  transition: var(--transition);
}
.nav-links li a:hover {
  color: #fca542;
}
.btn-sm {
  /* font-size: 16px; */
  border-radius: 20px;
  padding: 7px 16px;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-direction: row-reverse;
}
.nav-btn .search {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}
.btn-mobile-nav {
  display: none;
}
/* //////////////Nav Bar end//////////////////// */
/*/////////////////////////////////////////////////////////////////////////*/
/* //////////////hero start//////////////////// */
.hero {
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* padding-top: 5rem; */
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 90px;
  gap: 40px;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
}

.hero-left .heading {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
  margin-bottom: 24px;
}
.hero-left .text {
  color: #eef5fd;
  margin-bottom: 24px;
  font-size: 24px;
}
.hero-btn {
  display: flex;
  gap: 16px;
}

.hero-right img {
  height: 100%;
  filter: drop-shadow(0px 20px 3px rgba(0, 0, 0, 0.1));
}
/* //////////// HERO ENDS////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */
/* //////////// FEATURE STARTS////////////////////////////////// */
.features h1 {
  color: #2948e6;
  text-align: center;
  margin-bottom: 48px;
  font-size: 48px;
}
.features span {
  color: #fca542;
}
.features-container {
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 60px;
  /* align-items: center; */
}

.feature-left {
  object-fit: contain;
  overflow: hidden;
}
.feature-left img {
  height: 100%;
  width: 100%;
}
.feature-right {
  align-items: flex-end;
}
.features .feature-right-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.features .feature-categories {
  padding: 20px;
  background-image: linear-gradient(to right, #2948e6, #3791de);
  border-radius: 12px;
  color: #eef5fd;
  transition: var(--transition);
}
.features .feature-categories:hover {
  box-shadow: 0 5px 32px rgba(11, 11, 11, 0.4);
}
.feature-right-list .finance {
  background-image: linear-gradient(to right, #f3c266, #e2a71fe4);
}
.feature-right-list .blockchain {
  background-image: linear-gradient(to right, #eb8d52, #bb4e0a);
}
.features .feature-categories h4 {
  font-size: 20px;
  margin: 15px;
  color: #bff6cf;
}
.features .feature-categories ion-icon {
  color: white;
  font-size: 32px;
  background-color: #2948e6;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
.features .feature-categories:hover ion-icon {
  box-shadow: none;
}
.features .feature-categories:nth-child(2) ion-icon {
  background-color: #464646;
}
.features .feature-categories:nth-child(3) ion-icon {
  background-color: #787878;
}
.features .feature-categories:nth-child(2) ion-icon {
  background-color: #f3c266;
}
.features .feature-categories:nth-child(3) ion-icon {
  background-color: #eb8d52;
}
/* //////////// FEATURE ENDS////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* /////////////////////FEATURES2//////////////////////////////////////// */

.biz-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;

  color: #777;
}
.biz-text p {
  width: 700px;
  margin: 40px 0;
}
.biz-text h2 {
  color: #2948e6;
}
.biz-text span {
  color: var(--button-color);
}
.business-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.business {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.business .biz-img {
  height: 300px;
}
.business .biz-img img {
  filter: blur(1px);
  transition: all 0.8s ease-in-out;
}
.business:hover .biz-img img {
  transform: scale(1.2);
  filter: blur(0);
}
.business .biz-content {
  padding: 20px;
  text-align: left;
  margin-top: 15px;
}
.business .biz-content h4 {
  font-size: 24px;
  padding-bottom: 8px;
  color: #888;
}
.business .biz-content p {
  margin-bottom: 12px;
  color: #787878;
}
.accordions {
  padding: 10px 0;
}
.accordion-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.QNA {
  color: #f5f5f5;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2948e6;
}
.question h5 {
  letter-spacing: 0.9px;
  font-weight: 500;
  transition: 0.2s ease-in;
}

.question .icon {
  font-size: 28px;
  /* align-self: flex-end; */
  transition: 0.3s ease;
}
.ans {
  line-height: 1.8;
  background-color: #253fc2;
  transition: all 1s ease-in;
  padding: 10px;
  display: none;
}
.ans p {
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.8;
}
.open .icon {
  transform: rotate(-180deg);
}
.open h5 {
  font-size: 28px;
}
.open .ans {
  display: block;
}
/* FORM */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background-color: var(--text-color);
  padding: 50px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}
.modal h2 {
  color: #fca542;
  margin-bottom: 24px;
}

.modal__form .names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.fname,
.lname {
  flex: 1;
}
.modal__form label {
  font-size: 17px;
  font-weight: 500;
  display: block;
  margin-bottom: 12px;
}

.modal__form input,
.modal__form textarea {
  font-size: 1.7rem;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 18px;
}

.modal__form .btn {
  margin-top: 12px;
}
.btn-close-modal {
  position: absolute;
  top: 5px;
  right: 50px;
  font-size: 42px;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
